@import '../../vars.css';

.container {
    scroll-margin-top: 100px; /* Adjust to your fixed navbar height */
    margin-top: 75px;
    color: var(--color-text);
    margin-left: 10%;
    margin-right: 10%;
}

.title {
    font-weight: 700;
    font-size: 35px;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    text-align: center;
}

.subtitle{
    font-size: 16px;
    color: rgb(196, 195, 195);
    font-weight: 200;
    text-align: center;
}

.projects {
    margin-top: 37px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
}